<div class="handle-card">
  <app-recette-form (recetteCalcule)="addRecette($event)"></app-recette-form>
  <app-recette-card
    [listMassHoublon]="listMassHoublon"
    [recetteStep1]="recetteStep1"
    [EbcFinal]="EbcFinal"
  ></app-recette-card>
  <app-recette-form2
    class="bottom-card"
    (ebcTotalCalcule)="addEbc($event)"
  ></app-recette-form2>
  <app-recetteform3
    [volume]="volumeFinal"
    class="bottom-card"
    (massHoublonCalcule)="addMassHoublon($event)"
  ></app-recetteform3>
</div>
