<form class="card card-container" (ngSubmit)="calculStep3()" #form="ngForm">
  <div class="j-center">
    <label for="ibuRecherche"> </label>
    <input
      class="input"
      placeholder="ibu recherché"
      id="ibuRecherche"
      name="ibuRecherche"
      [(ngModel)]="ibuRecherche"
    />
  </div>
  <div class="j-center">
    <label for="acidAlpha"> </label>
    <input
      class="input"
      placeholder="acid alpha du houblon"
      id="acidAlpha"
      name="acidAlpha"
      [(ngModel)]="acidAlpha"
    />
  </div>
  <div class="j-center">
    <label for="TauxExtraction"> </label>
    <input
      class="input"
      placeholder="taux d'extraction"
      id="TauxExtraction"
      name="TauxExtraction"
      [(ngModel)]="TauxExtraction"
    />
  </div>
  <div class="j-center">
    <label for="Proportion"> </label>
    <input
      class="input"
      placeholder="proportion total du houblon"
      id="Proportion"
      name="Proportion"
      [(ngModel)]="Proportion"
    />
  </div>

  <div class="full-center">
    <button class="btn-orange" type="submit">Calcul</button>
    <button class="btn-orange" type="button" (click)="pushHoublonModel()">
      <img class="icon" src="../../../assets/image/plus.ico" />
    </button>
  </div>
</form>
