<form class="card card-container" (ngSubmit)="calculStep2()" #form="ngForm">
  <div class="j-center">
    <label for="ebc"> </label>
    <input
      class="input"
      placeholder="ebc"
      id="ebc"
      name="ebc"
      [(ngModel)]="ebc"
    />
  </div>
  <div class="j-center">
    <label for="weightGrain"> </label>
    <input
      class="input"
      placeholder="masse en Kg"
      id="weightGrain"
      name="weightGrain"
      [(ngModel)]="weightGrain"
    />
  </div>
  <div class="j-center">
    <label for="volume"> </label>
    <input
      class="input"
      placeholder="Volume Final en L"
      id="volume"
      name="volume"
      [(ngModel)]="volume"
    />
  </div>
  <div class="full-center">
    <button class="btn-orange" type="submit">Calcul</button>
    <button class="btn-orange" type="button" (click)="pushMalt()">
      <img class="icon" src="../../../assets/image/plus.ico" />
    </button>
  </div>
</form>
